@model LinkedHUCENGv2.Models.Post
<head>
    <link rel="stylesheet" href="~/css/feed.css?v=3.4.1" />
</head>

@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post ,new {enctype = "multipart/form-data"}))
{
<div class="createPost" style="background-color:white;margin-bottom:50px;height:fit-content; border-radius:20px;box-shadow: 0px 0px 35px rgba(128, 0, 255, 0.1);">
    <div class="postTypeContainer" style="padding:10px;text-align:center">
        <div class="postTypeColumn">
                <div name="typeContainer" id="PostContainer">
                    <input type="radio" id="Post" name="PostType" value="Post" class="checkbox" onclick="typeSelector(this)" checked/>
                    <label for="Post" name="checkBoxLabel" id="postLabel">Post</label>
                </div>
                <div name="typeContainer">
                    <input type="radio" id="JobOpportunity" value="JobOpportunity" class="checkbox" name="PostType" onclick="typeSelector(this)"/>
                    <label for="JobOpportunity" name="checkBoxLabel">Job Opportunity</label>
                </div>
                <div name="typeContainer">
                    <input type="radio" id="Internship" value="Internship" class="checkbox" name="PostType" onclick="typeSelector(this)"/>
                    <label for="Internship" name="checkBoxLabel">Internship</label>
                </div>
                <div name="typeContainer">
                    <input type="radio" id="Scholarship" value="Scholarship" class="checkbox" name="PostType" onclick="typeSelector(this)"/>
                    <label for="Scholarship" name="checkBoxLabel">Scholarship</label>
                </div>
                <div name="typeContainer">
                    <input type="radio" id="LectureMaterials" value="LectureMaterials" class="checkbox" name="PostType" onclick="typeSelector(this)"/>
                    <label for="LectureMaterials" name="checkBoxLabel">Lecture Materials</label>
                </div>
        </div>
        <div class="postTypeTextContainer" id="postTypeText">
            <div class="postTypeText">
                
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.8035 8.61761L21.3827 6.19655C21.2504 6.06429 21.0778 6 20.9051 6C20.7324 6 20.5598 6.06429 20.4276 6.19655L11.062 15.563V18.9393H14.438L23.8035 9.57098C23.9357 9.43872 24 9.26605 24 9.09338C24 8.92071 23.9357 8.74804 23.8035 8.61761ZM13.8741 17.2511H12.75V16.127L20.9051 7.97102L22.031 9.09705L13.8741 17.2511ZM22.031 14.4388C21.5645 14.4388 21.188 14.8154 21.188 15.282V22.3137H7.68796V8.81233H14.719C15.1855 8.81233 15.562 8.43576 15.562 7.96918C15.562 7.5026 15.1855 7.12603 14.719 7.12603H7.12592C6.50327 7.1242 6 7.62935 6 8.25023V22.8758C6 23.4967 6.50327 24 7.12592 24H21.75C22.3708 24 22.8759 23.4967 22.8759 22.874V15.282C22.8741 14.8154 22.4957 14.4388 22.031 14.4388Z" fill="black" />
                </svg>
                <input type="file" id="Choose Images" name="ImageFiles" multiple  />
                
                <div style = "height:fit-content;width:100%">
                    <textarea name="PostContent" placeholder="Type Here" id="myTextArea"></textarea>
                </div>
                <input type="file" id="Choose Images" name="PDFFiles" multiple  />
                
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>
}

<script type="text/javascript">
        function typeSelector(checkbox){
            var checked = document.getElementsByClassName("checkbox");
            var typeContainer = document.getElementsByName("typeContainer");
            var checkBoxLabel = document.getElementsByName("checkBoxLabel");
            var textPart = document.getElementById("postTypeText");
            if(checkbox.id === "Post"){
                textPart.style.borderRadius = "0 20px 20px 20px"
            }
            else if (checkbox.id === "LectureMaterials"){
                textPart.style.borderRadius = "20px 0px 20px 20px"
            }
            else{
                textPart.style.borderRadius = "20px"
            }
            for(let i = 0; i < checked.length;i++){
                if (checked[i] !== checkbox) {
                    checked[i].checked = false
                    typeContainer[i].style.backgroundColor = "white";
                    checkBoxLabel[i].style.color = "darkslategray";
                }
                else{
                    typeContainer[i].style.backgroundColor = "#240046";
                    checkBoxLabel[i].style.color = "#8000FF";
                }
            }
        }
        const myText = document.getElementById("myTextArea" );
        
        myText.addEventListener("input",function(){
            console.log(this.scrollHeight);
            this.style.height = "33px";
            this.style.height = `${this.scrollHeight}px`
            
        });
</script>