@model LinkedHUCENGv2.Models.UserProfileModel
@{
    Layout = "~/Views/Home/layout.cshtml";
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">

    <head>
    </head>
    <body>
        <div style ="display:flex;justify-content:center;background-color:gray;margin-top:10px" >
        <h1 style = "width:60% ">
            hello
        </h1>
        </div>

    </body>

</html>