@{
    Layout = "~/Views/Home/layout.cshtml";
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">
    <div style = "display:flex; justify-content:center; width:100%;">
    <div style = "width:50%;">
    <div class="settingsModal" style = "margin:50px;padding:30px;border:1px solid #F4F1F7;border-radius:10px;">
        <h1 style = "margin-bottom:10px;">
            Notifications
        </h1>
        <div class="tablefollow" style = "border-collapse:collapse;width:100%;height:fit-content;">
            <div style = "background-color:#F4F1F7;height:50px;display:inline-grid;grid-template-columns:50px 100px auto 100px;width:100%;padding:5px;border-radius:20px;align-items:center">
                <p >

                </p>
                <p style = "font-weight:bold;">
                    Notification
                </p>
                <p style = "font-weight:bold;">
                    Date
                </p>
            </div>
            
            <div style = "text-align:center;display:inline-grid;grid-template-columns:50px 100px auto 100px;width:100%;height:fit-content;padding:5px;align-items:center">

            </div>
            
        </div>
    </div>
    </div>
    </div>
</html>