* {
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
    padding:0;
    background-color: #240046;

}
h1{
    margin: 20px auto;
}
.schoolLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80px;

}
.box{
    width:350px;
    padding :30px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:20px;
    background: white;
}
.box h1{
    color: black;
    font-weight: bold;
}

.box input[type = "text"],.box input[type = "password"],.box input[type = "email"],.box input[type = "number"]
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid #EBE8F1;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: black;
    border-radius: 10px;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus,.box input[type = "number"]:focus
{
    border-color:#918aa0;
}

.box input[type = "submit"]
{
    border: 0;
    background: #240046;
    display: block;
    margin-top: 25px;
    text-align: center;
    padding: 14px 10px;
    width: 325px;
    outline: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
.box input[type = "submit"]:hover{
    color: #240046;
    padding: 11px 10px;
    border: 3px solid #240046;
    margin-top: 25px;
    background-color: white;
}

.button {
    display: flex;
    padding: 14px 10px;
    justify-content: space-between;
    border-radius: 10px;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 3px solid #EBE8F1;
    position: relative;
}
.button:focus{
    border-color: #918aa0;
}
.arrow {
    border: solid rgb(0, 0, 0);
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(45deg);
}

.dropdown {
    font-size: 13px;
    position: absolute;
    left: 42px;
    width: 320px;
    border: 3px solid #EBE8F1;
    border-radius: 10px;
}
.dropdown:hover{
    border-color: #918aa0;
}

.option {
    display: none;

}

.select-item {
    display: block;
    padding: 1rem;
    font-weight: 400;
    background-color: #FFFFFF;
    color: black;
    border-radius: 10px;
}

.select-item:hover {
    background-color: #d4d4d4;
    border-radius: 10px;
}

.hidden {
    display: none;
}
