@model Application
@{
    Layout = "~/Views/Home/layout.cshtml";
    var mainAccount = ViewBag.accountForViewBag;
}
<!DOCTYPE html>
<html lan="en" style="height: auto;">
<head>
    <link rel="stylesheet" href="~/css/feed.css?v=3.4.1"/>
</head>

<div style = "display:flex; justify-content:center; width:100%;">
    <div style = "width:50%;">
        <div class="settingsModal" style = "margin:50px;padding:30px;border:1px solid #F4F1F7;border-radius:10px;">
            <div style="text-align: left; border-bottom: 1px solid rgba(0, 0, 0, 0.3);margin-bottom:15px;padding-bottom:10px;">
                <h1>Apply To Post</h1>
            </div>
            <div class="forms" style="box-sizing: border-box;margin: 0;">
                <div class="settingsModal-container">
                    <input type="hidden" name="Id" value=@mainAccount.Id>
                    <input type="text" placeholder="Firstname*" value="@mainAccount.FirstName" name="FirstName">
                    <input type="text" placeholder="Lastname*" value="@mainAccount.LastName" name="LastName">
                </div>
                <div>
                    <input type="number" placeholder="Phone Number*" value="@mainAccount.Phone" name="Phone">
                </div>
                <div>
                    <input type="url" name="Url" placeholder="Linkedin Url*" value="@mainAccount.Url">
                </div>
                <form asp-action="Create">
                    <div>
                        <input asp-for="ApplicationText" placeholder="Tell us about yourself"/>
                    </div>
                    <div>
                        <input type="file"  id="resume" asp-for="ResumeFile" value="Add Your Resume"/>
                        <p style="visibility: hidden" id="resumeError">Please upload your resume</p>
                    </div>
                    <div class="settingsModal-container" style="justify-items: center; align-items: center;">
                        <input style="width: 120px;height: 40px;background-color: #240046;border-radius: 30px;border: none;font-weight: bold;color: white;" value="Submit" type="submit">
                        <a asp-controller="Post" asp-action="Feed" style="width: 100px;height: 40px;background-color: #eee;border-radius: 30px;border: none;font-weight: bold;">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
<script>
var myInput = document.getElementById("resume");
if (!(myInput && myInput.value)) {
  document.getElementById("resumeError").style.visibility = "block";
}
</script>

